<div class="container">
  <div class="row">
    <div class="col-md-6">
      <canvas id="myCanvas" width="500" height="500"> </canvas>
    </div>
    <div class="col-md-6">
      <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Resolução</label>
            <input
              type="number"
              value="500"
              class="form-control"
              id="inputResolution"
              placeholder="(50-500)"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Número de pontos</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail4"
              (input)="AddDummyPoints($event)"
            />
          </div>
        </div>
      </form>
      <form *ngFor="let point of PointsList; let i = index">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Coordenada X{{ i }}</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail4"
              (input)="ChangeXPointPosition($event, i)"
            />
          </div>
          <div class="form-group col-md-6">
            <label>Coordenada Y{{ i }}</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail4"
              (input)="ChangeYPointPosition($event, i)"
            />
          </div>
        </div>
      </form>
      <div  class="row">
        <div id ="drawButtons" class="btn-toolbar">
          <button type="button" class="col-md-4 btn btn-primary" (click)="ChangeResolution(); DrawPoints()">
            Desenhar a(s) figura(s)
          </button>
          <button type="button" id = "resetCanvas" class="col-md-3 btn btn-primary" (click)="ResetCanvas()">
            Apagar o quadro
          </button>
      </div>
      </div>
    </div>
  </div>
</div>
